@page "/fetchdata"
@inject HttpClient Http
@using Shared.Dtos

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (eventData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Start Time</th>
                <th>Expiration Time</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in eventData)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.StartTime.ToShortDateString()</td>
                    <td>@data.ExpirationTime.ToShortDateString()</td>
                    <td>@data.ExpirationTime.Subtract(data.StartTime).TotalDays</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private int index = 0;

    private List<EventDataReadDto> eventData = null;

    protected override void OnInitialized() {

        eventData = new List<EventDataReadDto>() {
                new EventDataReadDto() {
                    Id = index++,
                    Name = "Test Name 0",
                    StartTime = DateTime.UtcNow,
                    ExpirationTime = DateTime.UtcNow.AddDays(7)
                            },
                new EventDataReadDto() {
                    Id = index++,
                    Name = "Test Name 1",
                    StartTime = DateTime.UtcNow,
                    ExpirationTime = DateTime.UtcNow.AddDays(7)
                            },
                new EventDataReadDto() {
                    Id = index++,
                    Name = "Test Name 2",
                    StartTime = DateTime.UtcNow,
                    ExpirationTime = DateTime.UtcNow.AddDays(7)
                            },
                new EventDataReadDto() {
                    Id = index++,
                    Name = "Test Name 3",
                    StartTime = DateTime.UtcNow,
                    ExpirationTime = DateTime.UtcNow.AddDays(7)
                            },
            };

    }

}